<div class="container p-4">
  <div class="row">
    <div class="col-md-12 mx-auto">

      <div class="card">
        <div class="card-body">
          <form action="/links/add" method="POST">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label
                    for="exampleInputEmail1"
                    class="form-label"
                  >Time</label>
                  <input
                    type="time"
                    min="00:00"
                    max="23:59"
                    class="form-control"
                    id="time"
                    name="time"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="from" class="form-label">From</label>
                  <input
                    type="from"
                    class="form-control"
                    id="from"
                    name="from"
                  />
                </div>
              </div>
              <div class="col-md-6">
                  <div class="mb-3">
                  <label for="from" class="form-label">Fligth Number</label>
                  <input
                    type="from"
                    class="form-control"
                    id="from"
                    name="from"
                  />
                </div>
              </div>
              <div class="col-md-6">
                  <div class="mb-3">
                  <label for="from" class="form-label">Remarks</label>
                  <input
                    type="from"
                    class="form-control"
                    id="from"
                    name="from"
                  />
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>